<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HIKARI_HTO_VER2.Properties.Settings.DB_HIKARI_VER2ConnectionString"
            connectionString="Data Source=10.10.1.15;Initial Catalog=DB_HIKARI_VER2;Persist Security Info=True;User ID=haipm;Password=Minhhai@171192"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>